.layout-grid {
  @include listStripped();
  @include grid(center, center, row, wrap);

  li {
    position: relative;
    width: calc(25% - 1rem);
    margin: 0.5rem;
    padding-top: 25%;
    background-size: cover;
    background-position: center center;
    border-radius: 0.25rem;
    box-shadow: 0 0 1rem transparentize($black, 0.75);

    @include responsive(tablet) {
      width: calc(33.333% - 1rem);
      padding-top: 33.333%;
    }

    @include responsive(phablet) {
      width: calc(50% - 1rem);
      padding-top: 50%;
    }
  }

  @include responsive(phablet) {
    padding: 0.5rem;
  }
}

.layout-grid-image {
  display: block;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  cursor: hand;
  cursor: pointer;

}

.layout-grid-id {
  position: absolute;
  bottom: 0;
  left: 50%;
  background-color: $black-trans;
  padding: 1rem 2rem;
  line-height: 1;
  margin: 0;
  font-size: 1.25rem;
  transform: translateX(-50%);
  border-radius: 1rem 1rem 0 0;
  box-shadow: 0 0 1rem transparentize($black, 0.75);
}
