/**
  Global Website Header
  ---------------------------------------------------------------------- */
.logo-header {
  display: block;
  padding: 5rem 0 2.5rem 0;

  img {
    display: block;
    max-height: 8rem;
    width: auto;
    margin: 0 auto;
  }

  @include responsive(tablet) {
    padding: 6vw 6vw 3vw 6vw;
  }
}
